@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
.shad{
  box-shadow: 0 0 5px white;
}
.hideeye{
  display: none;
}
.showeye:hover>.hideeye{
  display: block;
  display: flex;
}
.red{
  color:hotpink
}
*{
  list-style: none;
}
/* Hides the scrollbar but keeps scrolling functional */
/* Hide the scrollbar globally in Tailwind setup */
@layer base {
  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer */
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
}
